/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff; /* changed to white for contrast */
  margin: 0;
  padding: 0;
  background: url('./images/mountains.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

/* Add a dark overlay over the body */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent dark overlay */
  z-index: -1; /* keep it behind everything */
}

/* Header */
header {
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav .logo {
  width: 250px;
}

nav .logo a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-links {
  list-style: none;
  display: flex;
  padding: 0;
}

nav .nav-links li {
  margin: 0 15px;
}

nav .nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .nav-links a:hover {
  color: white;
}

nav .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

nav .hamburger .bar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: white;
}

/* Mobile Menu Styles */
nav .nav-links.active {
  display: block;
}

nav .nav-links {
  display: flex;
}

@media (max-width: 768px) {
  nav .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 70px;
    left: 0;
    padding: 1rem;
    z-index: 1000;
  }

  nav .nav-links li {
    margin: 15px 0;
  }

  nav .hamburger {
    display: flex;
  }
}
